<div class="container">
  <br />
  <div class="col-md-8 col-md-offset-2">
    <h1>Contact</h1>
    <form action="/post" method="post">
      <input class="form-control" name="name" placeholder="Name..." />
      <br />
      <input class="form-control" name="phone" placeholder="E-mail..." />
      <br />
      <input class="form-control" name="email" placeholder="Subject..." />
      <br />
      <textarea class="form-control" name="text" placeholder="How can we help you?" style="height:150px;"></textarea>
      <br />
      <input class="btn btn-primary" type="submit" value="Submit" />
      <br />
      <br />
    </form>
  </div>

</div>