<div class="container">
    <br />
    <div class="col-md-8 col-md-offset-2">
      <h1>My Meal</h1>
      <div>
          <form action="/post" method="post">
            <input class="form-control" type="text" name="description" placeholder="Description..." />
            <br />
            <input class="form-control" type="number" name="calories" placeholder="Calories..." />
            <br />
            <input class="form-control" type="date" name="date">
            <br />
            <input class="form-control" type="time" name="time">
            <br />
            <input class="btn btn-primary" value="Add Meal" />
            <br />
            <br />
          </form>
      </div>
      <h2>Meal successfuly added <img src="../../assets/food.png" alt=""></h2>
    </div>
  </div>