  <br />
    <h1>Show Meals</h1>
    <br/>

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>

  <table multiTemplateDataRows  matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="cal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Calories </th>
      <td mat-cell *matCellDef="let element"> {{element.cal}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>

    <ng-container matColumnDef="options">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Options </th>
      <td mat-cell *matCellDef="let element"> 
        <img (click)="alertt('edit')" src="../../assets/pencil.png" alt="pencil"> 
        <img (click)="alertt('delete')" src="../../assets/bin.png" alt="bin"> 
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
