<div class="container">
  <br />
  <div class="col-md-8 col-md-offset-2">
    <h1>Register</h1>
    <form action="/post" method="post">
      <input class="form-control" name="name" placeholder="Name..." />
      <br />
      <input class="form-control" name="email" placeholder="E-mail..." />
      <br />
      <input class="form-control" name="password" type="password" placeholder="Password..." />
      <br />
      <input class="form-control" name="confirmPassword" type="password" placeholder="Confirm Password..." />
      <br />
      <input [routerLink]="['/home']" class="btn btn-primary" value="Register" />
      <br />
      <br />
    </form>
  </div>
</div>